{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
{# загружаем фильтр #}
{% load user_filters %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header bg-warning"><b>Ссылка активации недействительная!</b></div>
            <div class="card-body">
                   <p class="card-text">
                    Что-то пошло не так :( Возможно, ссылка устарела.
                   </p>

                    </div>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}