{% extends "base.html" %}
{% load static %}
{% block title %}Войти{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock css %}
{% block content %}
{% load user_filters %}

<main class="main container">
        <div class="main__header">
            <h1 class="main__title">Войти</h1>
        </div>
    <div class="form-container">


        <form class="form" method="post" action="{% url 'login' %}">

            {% if form.errors %}
        <div class="form__error" role="alert">
          Имя пользоваетеля и пароль не совпадают. Введите правильные данные.
        </div>
        {% endif %}

        {% if next %}
            <div class="form__info-text" role="alert">
              Вы обратились к странице, доступ к которой возможен только для залогиненных пользователей.<br>
              Пожалуйста, авторизуйтесь.
            </div>
        {% else %}
            <div class="form__info-text" role="alert">
              Пожалуйста, авторизуйтесь.
            </div>
        {% endif %}

          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">

            <div class="form__group">
              <label for="{{ form.username.id_for_label }}" class="form__label">Имя пользователя</label>
              <div class="form__field-group">

                  {{ form.username|addclass:"form__input" }}
              </div>
          </div>

          <div class="form__group">
              <label for="{{ form.password.id_for_label }}" class="form__label">Пароль</label>
               <div class="form__field-group">

                   {{ form.password|addclass:"form__input" }}
              </div>
          </div>

          <div class="form__group">
              <button class="button button_style_blue">
                Войти
              </button>
              <a href="{% url 'password_reset' %}" class="form__forgot-link">
                  Забыли пароль?</a>

          </div>
        </form>
      </div> <!-- card body -->
</main>

{% endblock content %}