{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock css %}
{% block content %}
<main class="main container">
        <div class="main__header">
            <h1 class="main__title">Сброс пароля</h1>
        </div>
    <div class="custom-center-block">
            <p class="custom-text-block">Сброс пароля прошёл успешно! Проверьте почту, Вам должно придти письмо со ссылкой для восстановления пароля </p>
        <div class="custom-button-block">
        </div>
    </div>
</main>

{% endblock %}