{% extends "base.html" %}
{% load static %}
{% block title %}Новый пароль{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock css %}
{% block content %}
{% load user_filters %}

{% if validlink %}

<main class="main container">
        <div class="main__header">
            <h1 class="main__title">Новый пароль</h1>
        </div>
    <div class="form-container">

                <form class="form" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                         {% include 'forms_body_cycle.html' %}
                    {% endfor %}

                    <div class="form__group">
                    <button class="button button_style_blue">
                        Назначить новый пароль
                    </button>
                    </div>
                </form>

            </div> <!-- card body -->


{% else %}
<main class="main container">
        <div class="main__header">
            <h1 class="main__title">Новый пароль</h1>
        </div>
        <div class="custom-center-block">
            <p class="custom-text-block">Ссылка сброса пароля содержит ошибку либо устарела</p>
        <div class="custom-button-block">
        </div>
{% endif %}
</main>
{% endblock %}