{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
{# загружаем фильтр #}
{% load user_filters %}
<link rel="stylesheet" href="/static/pages/form.css">
<main class="main container">
        <div class="main__header">
            <h1 class="main__title">Зарегистрироваться</h1>
        </div>
            <div class="form-container">

                <form class="form" method="post" action="{% url 'signup' %}">


                            {% csrf_token %}

                            {% for field in form %}

                                {% include 'forms_body_cycle.html' %}

                            {% endfor %}

                            <div class="form__field-group">
                            <button class="button button_style_blue">
                                Зарегистрироваться
                            </button>
                            </div>
                </form>
            </div>
</main>
{% endblock %}