{% extends "base.html" %}
{% load static %}
{% block title %}
    Рецепты
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock css %}

{% block content %}
    {% csrf_token %}

    <main class="main container">
        <!-- Загловок с завтрак-обед-ужин в линию -->
        <div class="main__header">
            <h1 class="main__title">{{ author.get_full_name }}</h1>
                <div class="author-subscribe" data-author="{{ author.pk }}">
                {% if user.is_authenticated and user != author %}
                        {% if author.pk in user.following_list %}
                            <button class="button button_style_light-blue button_size_auto button_style_light-blue-outline"
                                    name="subscribe">
                                <span class="icon-check button__icon"></span>Отписаться от автора</button>
                        {% else %}
                            <button class="button button_style_light-blue button_size_auto"
                                    name="subscribe" data-out>Подписаться на автора</button>
                        {% endif %}
                    {% endif %}
                </div>
            {% include 'tags_select.html' with tags=tags %}
        </div>

        <!-- конец заголовка -->
        <div class="card-list">
            {% for recipe in page %}
                {% include "recipe_card.html" with recipe=recipe favorite_recipes=favorite_recipes tags=tags %}
            {% endfor %}

        </div>
        <!-- Пагинатор -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator tags=tags %}
        {% endif %}
    </main>

{% endblock content %}
{% block scrypt %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'authorRecipe.js' %}"></script>
{% endblock scrypt %}