{% extends "base.html" %}
{% load static %}
{% block title %}
    Рецепты
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock css %}

{% block content %}

<body class="body">
    <main class="main container">
        <!-- Загловок с завтрак-обед-ужин в линию -->
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            {% include 'tags_select.html' with tags=tags %}
        </div>
        <!-- конец заголовка -->
        <div class="card-list">

            {% for recipe in page %}
                {% include "recipe_card.html" with recipe=recipe %}
            {% endfor %}

        </div>
        <!-- Пагинатор -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </main>
</body>
{% endblock content %}
{% block scrypt %}
    <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'indexNotAuth.js' %}"></script>
{% endblock scrypt %}

