{% load static %}
<div class="card" data-id="{{ recipe.pk }}">
                <a href="{% url 'recipe' recipe.pk %}" class="link" target="_blank">
                    <img src="{% if recipe.image %}{{ recipe.image.url }}{% else %}{% static "images/defaultMeal.jpg" %}{% endif %}" alt="Картинка недоступна" class="card__image"></a>
                <div class="card__body">
                    <a class="card__title link" href="{% url 'recipe' recipe.pk %}" target="_blank">{{ recipe.title }}</a>
                    <ul class="card__items">
                        {% for tag in recipe.render_tags %}
                            <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.tag }}</span></li>
                        {% endfor %}
                    </ul>
                    <div class="card__items card__items_column">
                        <p class="card__text"><span class="icon-time"></span>
                            {{ recipe.prepare_time }} мин.</p>
                        <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a></p>
                    </div>
                </div>
    <div class="card__footer">

            {% if user.is_authenticated%}

                {% if recipe in request.user.shop_cart_list %}

                    <button class="button button_style_light-blue-outline" name="purchases">
                        <span class="icon-check button__icon"></span> Рецепт добавлен</button>

                {%  else %}

                    <button class="button button_style_light-blue" name="purchases" data-out>
                        <span class="icon-plus button__icon"></span>Добавить в покупки</button>

                {% endif %}

                    {% if recipe in request.user.favorites_list %}
                        <div class="single-card__favorite">
                        <button class="button button_style_none" name="favorites">
                            <span class="icon-favorite icon-favorite_active"></span>
                        </button>
                        </div>


                    {% else %}
                         <div class="single-card__favorite">
                        <button class="button button_style_none" name="favorites" data-out>
                            <span class="icon-favorite"></span>
                        </button>
                         </div>


                    {% endif %}

            {% endif %}
    </div>
</div>